<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="r8b1VBUAcwJqhs2d_nd7KeK5j5bVVVILAlZgJy_iuRw" />
    <meta name="description" content="The Maths Liberator - Simplify Mathematics. Learn algebra, coordinate geometry, sequences, and more with easy-to-follow tutorials.">
    <meta name="keywords" content="math tutorials, algebra, coordinate geometry, sequences, circle theorem, surds, maths tricks">
    <meta name="author" content="The Maths Liberator">
    <title>The Maths Liberator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">

</head>
<body>
    <header>
        <h1>Welcome to The Maths Liberator!</h1>
        <p>Making Math Simple and Accessible for Everyone!</p>
    </header>

    <nav>
        <input type="text" id="search-bar" placeholder="Search videos..." />
    </nav>

    <section>
        <h2>About Our YouTube Channel</h2>
        <p>Explore math tutorials, tips, and tricks to master complex topics with ease.</p>
        <a href="https://youtube.com/@themathsliberator" target="_blank">Visit Our YouTube Channel</a>
    </section>

    <section>
        <h2>Featured Videos</h2>


    </section>

    <section>
        <h3>Master Simultaneous Equations in Minutes!</h3>
        <p>Confused by solving equations with multiple unknowns? In this video, I'll break down everything you need to know about solving simultaneous equations — step-by-step and super easy to follow. We'll cover:</p>
        <ul>
            <li>✅ Elimination Method</li>
        </ul>
        <p>Perfect for students tackling algebra or anyone brushing up on their maths skills. By the end of this video, you'll be solving simultaneous equations like a pro!</p>
        <p>Follow for more easy maths explanations!</p>
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/vaGcvwvxBX4" 
            title="The Maths Liberator - Simplify Mathematics" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
    </section>

    <section>
        <h3> Struggling with Proportions?Here's How indirect proportion just clicks!</h3>
        <p>In this video, we’ll dive into the concept of indirect proportion (or inverse proportion) and how it works in real-life situations! You’ll learn what indirect proportion means, how to identify it in different problems, and how to solve these types of questions step-by-step. We’ll cover examples like travel time and speed, work done by teams, and more. Perfect for students, parents, and teachers looking for 
            help.
            Watch till the end to master indirect proportion! If you found this helpful, please like, subscribe, and share with friends who could use some maths support!
        </p>
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/ILDAu_xQr-w" 
            title="The Maths Liberator - Simplify Mathematics" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
    </section>

    <section>
        <h3>Intersection of a line and circle(part 1)</h3>
        <p>In this video, we explore the intersection of a line and a circle. We investigate whether the line intersects the circle at two points, one point, or not at all. Watch to learn more about this mathematical concept and don't forget to subscribe for more educational content like this.

        </p>
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/JEqHtzWpqq0" 
            title="The Maths Liberator - Simplify Mathematics" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
    </section>



    <section>
        <h3>Intersection of a line and circle(part 2)</h3>
        <p>In this video, we explore the intersection of a line and a circle. We investigate whether the line intersects the circle at two points, one point, or not at all. Watch to learn more about this mathematical concept and don't forget to subscribe for more educational content like this.

        </p>
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/B3jXdax3lXk" 
            title="The Maths Liberator - Simplify Mathematics" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
    </section>



    <section>
        <h3>Intersection of a line and circle(part 3)</h3>
        <p>In this video, we explore the intersection of a line and a circle. We investigate whether the line intersects the circle at two points, one point, or not at all. Watch to learn more about this mathematical concept and don't forget to subscribe for more educational content like this.

        </p>
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/m3JFsY5_oKQ" 
            title="The Maths Liberator - Simplify Mathematics" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
    </section>


   
    <section>
        <h3>AP made fun: Calculate the sum like a pro!</h3>
        <p>Learn how to find the sum of an arithmetic progression (AP) in this easy-to-follow tutorial. We'll explore the formula, break it down step by step, and provide practical examples to help you master this essential math concept. Perfect for students preparing for exams or anyone looking to strengthen their understanding of sequences. Watch now and become confident in solving AP problems!
        </p>
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/uLN3XGafLys" 
            title="The Maths Liberator - Simplify Mathematics" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
    </section>


    <section>
        <h3>How to find the length of the tangent from a point to the circle</h3>
        <p>In this video, we’ll explore a key geometric concept – how to find the length of the tangent from a point to a circle. Using simple formulas and clear explanations, we’ll walk through the process step-by-step to ensure you fully understand the method. This is a crucial topic for students preparing for exams, especially in high school geometry and competitive exams like the SAT, ACT, and others.

        </p>

        <p>What you’ll learn: </p>
            
        <p>The formula for the length of a tangent from an external point to a circle</p>
            
        <p>How to apply the Pythagorean Theorem in circle geometry</p>
            
        <P>Real-world examples and solved problems to reinforce the concept</p>
            
        <p>Whether you're a student looking to master geometry or a math enthusiast wanting to learn more, this video will help you grasp this topic easily.</p>
            
        <p> Make sure to like, comment, and subscribe for more math tutorials!
        </p>
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/7-_e-N7ZZzg" 
            title="The Maths Liberator - Simplify Mathematics" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
    </section>



    <section>
        <h3>How to find the length of the tangent from a point to the circle (Part 2)</h3>
        <p>In this video, we’ll explore a key geometric concept – how to find the length of the tangent from a point to a circle. Using simple formulas and clear explanations, we’ll walk through the process step-by-step to ensure you fully understand the method. This is a crucial topic for students preparing for exams, especially in high school geometry and competitive exams like the SAT, ACT, and others.

        </p>

        <p>🔗 Topics Covered: </p>
            
        <p>Tangent to a circle properties</p>
            
        <p> Applying Pythagoras' theorem to find the length of the tangent</p>
            
        <P>Watch now and boost your understanding of circle geometry!</p>
            
        <p>Don’t forget to like, share, and subscribe for more math tutorials!</p>
            
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/7-_e-N7ZZzg" 
            title="The Maths Liberator - Simplify Mathematics" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
    </section>


    <section>
        <h3>Introduction to surds( Part 1)</h3>
        <p>In this video,I delve into the Introduction of surds - the roots of positive rational numbers that are also irrational. By watching this video, you'll gain a solid understanding of this mathematical concept. Share this video with your friends to spread the knowledge!

        </p>
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/2p81Obv4tOI" 
            title="The Maths Liberator - Simplify Mathematics" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
    </section>

    <section>
        <h3>Introduction to Surds(Part 2)</h3>
        <p>Welcome to part two of my series on surds! In this video, we will be diving deeper into the topic by exploring the Nth root of all  numbers as surds. By the end of this video, you will have a better understanding of different types of surds and how to identify them with Nth roots. Don't forget to hit the like button if you found this video helpful!
        </p>
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/usM1-lpfAXU" 
            title="The Maths Liberator - Simplify Mathematics" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
    </section>

    <section>
        <h3>Easy and Fast way to Reduce Surds to It Basic Form.</h3>
        <p>In this video,you will grasp how to simply reduce a surd to it basic form.It is important to reduce surd to it lowest or basic form.Enjoy the lesson.Dont forget to share and like to reach more learners.
        </p>
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/RH0gVF25hqs" 
            title="The Maths Liberator - Simplify Mathematics" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
    </section>

    <section>
        <h3>Circle Theorem.</h3>
        <p>In this video, we explore circle theorems such as the Alternate Segment Theorem and the concept that two tangents of a circle have equal length. We also delve into the relationship between interior angles in a triangle equaling 180⁰. Opposite angles in a cyclic quadrilateral addup to 180⁰. By the end of this video, you will have a better understanding of circle theorem. Subscribe for more educational content like this! 
        </p>
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/eoG1V5vMJ7I" 
            title="The Maths Liberator - Simplify Mathematics" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
    </section>
    
    <section>
        <h3>Finding the values of trigonometric functions of an angle when a point is given(Part 1)</h3>
        <p>To understand the six trigonometric functions
        </p>
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/vBc47pV79sM" 
            title="The Maths Liberator - Simplify Mathematics" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
    </section>

    <section>
        <h3>Finding the values of trigonometric functions of an angle when a point is given(Part 2)</h3>
        <p>In this video,I will show you how to get all six trigonometric functions when  a point is given with angle theta
        </p>
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/Z1WWsH0ZiU8" 
            title="The Maths Liberator - Simplify Mathematics" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
    </section>







    <footer>
        <p>&copy; 2024 The Maths Liberator. All rights reserved.</p>
    </footer>


    <script src="{{ url_for('static', filename='JS/script.js') }}"></script>
</body>
</html>